/* General styles for the app */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e95ec8;
  color: #333;
}

/* Navigation bar styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Make the navbar span the full width of the page */
  background-color: #007bff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the navbar is on top of other content */
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(213, 241, 190);
  font-size: larger;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #d4d4d4;
}

/* Ensure content doesn't hide behind the fixed navbar */
div {
  margin: 80px 20px; /* Add margin to push content below the navbar */
  padding: 20px;
  background-color: #f19a9a;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Page title styles */
h1 {
  color: #101111;
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 2rem;
  line-height: 1.5;
}
