.App {
  font-family: Arial, sans-serif;
  background-image:url("C:\Users\srima\OneDrive\Desktop\Netflix\new\src\image.jpeg") ;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
